.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #7e1dff;
  height: 64px;
  color: white;
  padding: 0 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-join {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  height: 64px;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
}

.App-join:hover {
  background-color: #6100e2;
}

a:active {
  background-color: #79DDCB;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
