.ProgressBar-Container {
    border: 0.0625rem solid #e3e6eb;
    background-color: #fff;
    transition: all 200ms ease-out;
    height: 0.75rem;
    overflow: hidden;
    align-items: flex-end;
}

.ProgressBar-FilledIn {
    height: 0.75rem;
}

.ProgressBar-Wrapper {
    text-align: center;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
}
