.StepsCell-align-center {
  align-items: center;
}

.StepsCell-container {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.StepsCell-flex {
  display: flex;
}

.StepsCell-grow {
  flex-grow: 1;
}

.StepsCell-half-width {
  width: 50%;
}

.StepsCell-rounded-corners {
  border-radius: 40px;
}

.StepsCell-margin-right {
  margin-right: 8px;
}
